<div class="responsive-scale">
  <br /><br />
    <h2 class="text-center">CD Chess</h2>
    <p class="text-center">
      (A Firehose Agile Team Project)
    </p>
</div>
<div class="container">
  <div id="about" class="about">
    <h1 class="text-center">About</h1>
    <hr class="hr-divide" />
    <span class="col-md-8 col-md-offset-2">
      <p class="info justify">
        CD (Core Dump) Chess is an open source Ruby on Rails Chess application. Our Team Of Developers studying at The Firehose Project, worked together
        to create this application in an Agile Team environment. Thanks for checking it out!
      </p>
      <br />
    </span>
    <br class="clr" />
    <div class="toolkit-icons text-center">
      <h1 class="text-center">Skills We Used</h1>
      <hr class="hr-divide" />
      <div class="team">
        <%= image_tag 'ruby.png', class: 'tool-icons' %>
        <p class="info3">Ruby</p>
      </div>
      <div class="team">
        <%= image_tag 'rails.png', class: 'tool-icons' %>
        <p class="info3">Rails</p>
      </div>
      <div class="team">
        <%= image_tag 'js.png', class: 'tool-icons' %>
        <p class="info3">JavaScript</p>
      </div>
      <div class="team">
        <%= image_tag 'html.png', class: 'tool-icons' %>
        <p class="info3">HTML5</p>
      </div>
      <div class="team">
        <%= image_tag 'css.png', class: 'tool-icons' %>
        <p class="info3">CSS-3</p>
      </div>
    </div>
    <br class="clr" />
    <div class="toolkit-icons text-center">
      <h1 class="text-center">Tools For The Job</h1>
      <hr class="hr-divide" />
      <div class="team">
        <%= image_tag 'rubocop.png', class: 'tool-icons2' %>
        <p class="info3">Rubocop</p>
      </div>
      <div class="team">
        <%= image_tag 'travis.jpg', class: 'tool-icons2' %>
        <p class="info3">Travis CI</p>
      </div>
      <div class="team">
        <%= image_tag 'trello.png', class: 'tool-icons' %>
        <p class="info3">Trello</p>
      </div>
      <div class="team">
        <%= image_tag 'slack.png', class: 'tool-icons' %>
        <p class="info3">Slack</p>
      </div>
    </div>
    <br class="clr" />
      <div class="code-pics">
        <h1 class="text-center">Code Examples</h1>
        <hr class="hr-divide" />
        <div class="col-md-12 code">
          <p class="text-center info2">(Methods for Check and Checkmate)</p>
          <%= image_tag 'code1.png', class: 'img-responsive' %>
        </div>
        <div class="col-md-12 code">
          <p class="text-center info2">(RSpec Testing for Stalemate)</p>
          <%= image_tag 'code2.png', class: 'img-responsive' %>
        </div>
        <div class="col-md-12 code">
          <p class="text-center info2">(Method For Vertical Obstructions)</p>
          <%= image_tag 'code3.png', class: 'img-responsive' %>
        </div>
      </div>
  </div>
</div>

<div class="container the-team text-center">
  <div id="team" class="team text-center">
    <h1 class="text-center">The Team</h1>
    <hr class="hr-divide" />
    <div class="team-members text-center">
        <div class="team">
          <%= image_tag 'wc.png', class: 'team-pics' %>
          <p class="info3">Wade Carlson<br />Milwaukee, WI</p>
        </div>
        <div class="team">
          <%= image_tag 'wc.png', class: 'team-pics' %>
          <p class="info3">Wade Carlson<br />Milwaukee, WI</p>
        </div>
        <div class="team">
          <%= image_tag 'wc.png', class: 'team-pics' %>
          <p class="info3">Wade Carlson<br />Milwaukee, WI</p>
        </div>
        <div class="team">
          <%= image_tag 'wc.png', class: 'team-pics' %>
          <p class="info3">Wade Carlson<br />Milwaukee, WI</p>
        </div>
        <div class="team">
          <%= image_tag 'wc.png', class: 'team-pics' %>
          <p class="info3">Wade Carlson<br />Milwaukee, WI</p>
        </div>
      </div>
  </div>
</div>
